    .home {
        background-color: rgb(255, 200, 191);
        margin: 0px!important;
        padding: 0px!important;
    }
    
    .header {
        padding-left: 3rem;
        display: flex;
        min-height: 8vh;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .5s;
    }
    
    .logo a {
        color: rgb(255, 5, 142)!important;
        letter-spacing: 3px;
        text-decoration: none;
    }
    
    .logo a:hover {
        text-decoration: none;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        margin-left: 3em;
    }
    
    .nav-menu li,
    .mobile-menu li {
        list-style: none;
    }
    
    .nav-menu a {
        text-decoration: none;
        color: black!important;
        margin-left: 5rem;
    }
    
    .nav-menu a:hover {
        text-decoration: underline;
        text-decoration-color: rgb(255, 5, 142)!important;
    }
    
    li .active {
        text-decoration: underline;
        text-decoration-color: rgb(255, 5, 142)!important;
    }
    
    .mobile-menu .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        padding: 1em;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
    
    .hamburger {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 0em 10em 1em 3em!important;
        display: none;
        justify-content: center;
        margin: 0px 10px 20px 3em;
    }
    
    .dropdown li {
        list-style: none;
    }
    
    @media screen and (max-width: 768px) {
        .nav-menu {
            display: none;
        }
        .hamburger {
            display: block;
            cursor: pointer;
        }
        .navbar {
            display: grid;
        }
        .nav-links {
            width: 60%;
            display: none;
        }
    }
    
    .main {
        padding: 3% 5% 5% 5%;
    }
    
    .heading {
        font-family: 'Raleway', sans-serif;
        font-size: 5em;
    }
    
    #rehab {
        color: black;
        text-decoration: underline;
        margin: -4em 0em 0em 10em;
        position: absolute;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    
    #questions {
        margin-left: -25px;
    }
    
    .footer-2 {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }