<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HealMe</title>
  <meta name="description" content="Heal Me">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Russo+One&family=Saira+Condensed&display=swap" rel="stylesheet">

</head>

<body style="background-color:rgb(255, 200, 191); >

  

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="projName">Heal<br>Me</h1>
        <h2 class="subtitle">if you stop moving, you'll get stuck!</h2>
	
	
   </div>
   </div>
   </div>
</body>
</html>   