<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HealMe</title>
    <meta name="description" content="Heal Me">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- CSS-->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/dropdown.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- JS-->
    <script src="../js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
</head>

<body class="home">
    <!-- Navbar-->
    <header class="header">
        <nav class="navbar navbar-static-top">
            <img id="img-logo" src="../static/favicon.png" height="25px" width="30px">
            <div class="logo">
                <a href="#home" class="nav-logo">
                    <h2>HealMe</h2>
                </a>
            </div>
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                
            </ul>
            <div class="mobile-menu dropdown">
                <div class="hamburger">
                    <span class="bar"></span>
                    
                </div>
                <div class="dropdown-content">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                    
                </div>
            </div>
        </nav>
		

        </nav>
    </header>

    <main class="main">
        <h1 class="heading"> Mild Meniscal strain </h1>
		<p>The meniscus is a piece of cartilage in the knee that cushions the area where the shinbone and thighbone meet. There are two menisci in each knee, medial and lateral menisci. The menisci can be strained by any rotation or twisting motion that puts stress on the knee. </p>
        <br></br>
		<h3>Main Symptoms</h3>
		<p>The main symptoms for a meniscus strain are pain in the knee and inability to straightain the knee fully.You may also have a swelling, a feeling of stiffness, trouble walking, trouble bending or straightening the leg.</p>
		<br></br>
		<h3>How to Treat?</h3>
		<p>Rest your knees and avoiding activities that cause pain for atleast about two weeks. Wrap your knee with a bandage. Elevate your knee with a pillow under your heel when you're sitting or lying down.Ice the affected knee to reduce pain and swelling.If the pain is not subsiding,you may take over-the-counter pain relievers,as necessary.Practice physical therapy.</p>
        <br></br>
		<h3>When will you get better?</h3>
		<p>Recovery time for your knee depends on a number of factors, including how severe your meniscus strain is. Usually a meniscus strain can heal within 2 weeks. Keep in mind that people heal at different rates. Keep doing physical rehabiliation exercises after about one and half weeks if your pain and swelling reduces, to minimize complications and speed recovery.
		<br></br>
		<h3>Further steps...</h3>
		<p>If the pain is still not subsiding please visist a doctor. Your doctor will work with you to set up the best treatment plan for your strained meniscus.</p>
		<br></br>
		<h3>Ways to prevent</h3>
		<p>Meniscus strains are tough to prevent since they're usually the result of an accident. But some precautions might lower the risks of a knee injury.Keep your thigh muscles strong with regular exercises. Warm up with light activities before taking part. Give your body time to rest between workouts. Never abruptly increase the intensity of your workout. Make changes slowly.</p>

		<div>
        <div class="meniscus video"><iframe width="560" height="315" src="https://www.youtube.com/embed/uyERdMweivE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>



        <br>
    <footer class="footer ">
        <div class="footer-2 text-center ">
            <h6 class="small ">HealMe &copy Technova 2021.</h6>
        </div>
    </footer>



</body>

</html>

       <br></br>
       <br></br>
     
     
    </div>


        <br>
    </main>
    <footer class="footer">
        <div class="footer-2 text-center">
            <h6 class="small">HealMe &copy Technova 2021.</h6>
        </div>
    </footer>



</body>

</html>
