<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Results</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
</head>

<body>
    <form>
        Here are some suggestions we found! : <br />
        <input type="checkbox" name="first exc" value="first" tabindex="1"> first exercise <br />
        <img src=“#” height="500">
        <br />

        <input type="checkbox" name="second exc" value="second" tabindex="2" /> second <br />
        <img src=“#” height="500">
        <br />

        <input type="checkbox" name="third exc" value="third" tabindex="3" /> third <br />
        <img src=“#” height="500">
        <br />

        <input type="checkbox" name="forth exc" value="fourth" tabindex="4" /> forth <br />
        <img src=“#” height="500">
        <br />

    </form>
</body>

</html>