<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <meta name="description" content="Heal Me">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- CSS-->
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/dropdown.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- JS-->
    <script src="../js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
</head>

<body>
    <!-- Navbar-->
    <header class="header">
        <nav class="navbar navbar-static-top">
            <img id="img-logo" src="../static/favicon.png" height="25px" width="30px">
            <div class="logo">
                <a href="#home" class="nav-logo">
                    <h2>HealMe</h2>
                </a>
            </div>
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link active" href="../templates/index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="../templates/exercises.html">Rehab Exercises</a></li>
                <li class="nav-item"><a class="nav-link" href="../templates/firstaid.html">First Aid</a></li>
                <li class="nav-item"><a class="nav-link" href="../templates/about.html">About Us</a></li>
            </ul>
            <div class="mobile-menu dropdown">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="dropdown-content">
                    <li class="nav-item"><a class="nav-link active" href="../templates/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/exercises.html">Rehab Exercises</a></li>
                    <li class="nav-item"><a class="nav-link" href="./templates/firstaid.html">First Aid</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/about.html">About Us</a></li>
                </div>
            </div>
        </nav>

        </nav>
    </header>
    <main class="results container-fluid">
        <h2 class="heading" style="font-size:40px;" text-center> Severe Knee Injury</h2>

        <div class="info">
            <p> <b>Meniscus tears </b> are among the most common knee injuries. Athletes, particularly those who play contact sports, are at risk for meniscus tears. However, anyone at any age can tear the meniscus. When people talk about "torn cartilage"
                in the knee, they are usually referring to a torn meniscus.</p>
        </div>


        <div class="suggestions">
            <h5>Here are some suggestions we found based on your results! :</h5>
            <br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hIr2sh5FQx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <br />

            <iframe width="560" height="315" src="https://www.youtube.com/embed/sJR7oMWQ2i8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/1RRZkGm8Gyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/5KZf-nsTh0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

            <br>
            <br>

    </main>
    <footer class="footer">
        <div class="footer-2 text-center">
            <h6 class="small">HealMe &copy Technova 2021.</h6>
        </div>
    </footer>
</body>

</html>